.ui.breadcrumb
  = link_to "Dates", :dateslots
  %i.right.arrow.icon.divider
  .active.section Overview
%h1 Overview
%table.ui.table.segment
  %tr
    %th Activiteit
    %th Datum
    %th Van
    %th Tot
  - @events.each do |event|
    %tr
      %td
      %td= l(event.to_date, format: :full)
      %td
      %td
= will_paginate @events